{% import "bootstrap/wtf.html" as wtf %}
{% extends 'base.html'%}

{% block css %}
<link rel="stylesheet" href="../static/main.css">
{% endblock %}

{% block content %}
<header class="hero hero-home text-light">
    <div class="container text-center">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="hero-heading mb-3">All Your Favorite Titles</h1>
          <h3 class="mb-3">Search by ISBN, Title, Author, or Year Published</h3>
          <div class="col-12">
            <form class="hero-form d-flex flex-column flex-md-row" method="post">
              <div class="col-12 col-md-9 mb-2 mb-md-0 form-inline">
                 {{ wtf.form_field(form.searchText) }}
              </div>
              <div class="col-12 col-md-3 form-inline">
               <button class="btn btn-primary btn-block" type="submit">Search</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </header>
{% endblock %}
